<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <title>Google plus login</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='loginStyles.css')}}" />
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '899653790062-esdpvbkbupd1hjntl430nd6f02g40e46.apps.googleusercontent.com',
            scope: 'profile'
          });
        });
      }
    </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  </head>
  <body>

    <div class="section">
      <h1>Catalog Movie</h1>
      <!-- GOOGLE BUTTON SIGN IN-->
      <button id="signinButton">Sign in with Google</button>
      <div id="result"></div>
    </div>

    <script>
      $('#signinButton').click(function() {
        auth2.grantOfflineAccess().then(signInCallback);
      });
    </script>

    <script>
        function signInCallback(authResult) {
          if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              // include an `X-Requested-With` header in every AJAX request,
              // to protect against CSRF attacks.
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response.
                $('#result').html('<h2>Login Successful!</h2>'+ result +'<h2>Redirecting...</h2>')
               setTimeout(function() {
                window.location.href = "/Catalog";
              }, 6000);
              },
              processData: false,
              data: authResult['code']
            });
          } else {
            // There was an error.
            $('#result').html('<h2>Failed to make a server-side call. Check your configuration and console.</h2>');
          }
        }
    </script>

  </body>
</html>
